{% extends "base.html" %}
{% block content %}
    <h2>Cash Flow Statement from {{ start_date }} to {{ end_date }}</h2>
    <table>
        <tr>
            <th>Account Name</th>
            <th>Transaction Date</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
